@import 'fonts.css';
html,
body {
    margin: 0;
    padding: 0;
    overflow: auto;
}
body {
    /*background-image: url(../image/8648.jpg);*/
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
body::-webkit-scrollbar {
    width: 11px !important;
    background-color: #ecf0f1;
}
body::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 15px black;
    background-color: #2c3e50;
}
.tb-background {
    /*background-image: url(../image/8648.jpg);*/
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.tb-header {
    width: 100%;
    height: 45px;
    background-color: #444;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.2), 0 1px 8px 0 rgba(0,0,0,.12);
    transition: 0.3s;
    z-index: 10;
}
.tb-fixed-header {
    position: fixed;
    top: 0;
}
.tb-header-text {
    font-family: raleway;
    font-size: 20px;
    font-weight: 800;
}
.tb-header-text-small {
    font-family: raleway;
    font-size: 15px;
    font-weight: 800;
}
.f-left {
    float: left;
}
.f-right {
    float: right;
}
.tb-header-logo {}
.tb-header-margin {
    margin: 4px 1px; 
    padding: 4px 3px;
}
.tb-header > .tb-header-divider {
    float: left;
    color: #E91E63;
    font-weight: bold;
}
.tb-header-logout ,
.tb-header-passchange{
    background: #444;
    width: 35px;
    height: 35px;
    border-radius: 20px;
    padding: 5px;
    margin-right: 20px;
    transition: 0.3s;
}

.tb-header-logout:hover ,
.tb-header-passchange:hover{
    background: #818181;
}

.tb-header-logout > a ,
.tb-header-passchange >a {
    color: white;
    text-decoration: none;
}

/*navbar*/

.tb-navbar {
    position: fixed;
    word-break: break-all;
    top: 30px;
    height: auto;
    background-color: white;
    z-index: 9;
}
.tb-navbar-menu {
    transform: rotate(270deg);
    position: fixed;
    left: 300px;
    top: 86px;
    font-size: 12px;
    background: #8BC34A;
    padding: 0px 9px;
    color: #ffffff;
    z-index: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: -5px 0px 0px 0px #009688;
}

/*body*/

.tb-body {
    width: 79%;
    margin-top: 30px;
    background-color: white;
    height: auto;
    padding: 25px;
    padding-left: 30px;
    margin-left: 250px;
}
.tb-table{
    /*background-color: #eeeeee;*/
    padding: 1px;
    margin-top: 20px;
}

.tb-body > .tb-form,
.tb-body > .tb-other {
    padding: 10px;
    border: 1px solid rgba(63, 81, 181, 0.52);
    margin-top: 20px;
}
.tb-breadcrumb {
    position: fixed;
    /* right: 0; */
    left: 280px;
    top: 22px;
    font-size: 12px;
    background: #5d5d5d;
    padding: 3px 15px;
    color: #ffffff;
    z-index: 10;
    /* border-radius: 20px; */
    /* border-top-left-radius: 0; */
    /* border-bottom-left-radius: 0; */
    /* box-shadow: -5px 0px 0px 0px #3F51B5; */
}

/*modal*/
.tb-modal-body{
    width: 100%;
    background-color: white;
    height: auto;
    padding: 10px;
}
.tb-modal{
    padding: 10px;
    /*border: 1px solid rgba(63, 81, 181, 0.52);*/
}


/*colors*/

.color1 > span {
    color: white;
    transition: 0.5s;
}
.color1 > span > span {
    color: darkgray;
    transition: 0.5s;
}
.color2 > span {
    color: #03A9F4;
    transition: 0.5s;
}
.color2 > span > span {
    color: darkgray;
    transition: 0.5s;
}
